<ion-view cache-view="true"
		view-title="Limiti">
	<ion-content>
		<label class="item item-input item-select">
			<div class="input-label">
				Anno
			</div>
			<select ng-model="First"
					ng-change="saveYear(First)"> 		
				<option ng-repeat="item in items"
						value="{{item}}">
					{{item}}
				</option>    
			</select>
		</label>

		<label class="item item-input item-select">
			<div class="input-label">
				Numero di stazione
			</div>
			<select ng-model="Second"
					ng-change="saveStationNumber(Second)"> 		
				<option ng-repeat="item2 in items2"
						value="{{item2}}">
					{{item2}}
				</option>    
			</select>
		</label>

		<button class="button button-block button-positive"
				ng-click="seeAlarms()">
			Controlla limiti
		</button>

		<div id="result">
			<h4 id="year"></h4>
			<h4 id="day"></h4>
		</div>
	</ion-content>
</ion-view>