<ion-view cache-view="true" view-title="AirQualityBox">
	<ion-content>
		<p> <b>Per cominciare a usare l'applicazione, utilizzare il menu' laterale a sinistra</b> </p>
		<p> </p>
		<p>
			Il progetto consiste in delle piccole stazioni raspberry equipaggiate con dei sensori che monitorino il livello di particolato presente nell'aria, in modo da
			rapportarlo con altre grandezze come l'umidità, la temperatura, l'altitidune, il livello di pioggia e il monossido di carbonio. Le stazioni sono in grado di connettersi alla rete per poter inviare i propri dati ad un server in modo che tramite questa applicazione mobile (o tramite le relative applicazioni per pc) questi possano essere recuperati dal cittadino e che si possano calcolare delle statistiche circa i dati di interesse. In questo modo il cittadino può essere informato in tempo reale sui valori di particolato presenti nell'aria. Le stazioni sono munite anche di GPS, che viene utilizzato poichè la stazione può essere anche mossa, perciò i dati inviati non sono solo quelli relativi alle grandezze da misurare ma anche alle coordinate geografiche in cui sono stati raccolti. Le stazioni sono munite anche di tre led che si utilizzano semplicemente per fare in modo che si accendano se si supera una certa soglia di particolato per informare i passanti di questi superamenti. 
		</p>
		<p>   </p>  
		<p><b>Progetto sviluppato nel corso di Smart City e tecnologie mobili del corso di laurea magistrale in ingegneria e scienze informatiche (Cesena). Membri del gruppo:</b></p>
		<p align="center"><b>Giulio Crestani</b></p>
		<p style="text-align:center"><img src="img/giulio.jpg"></img></p>
		<p align="center"><b>Gianluca Spadazzi</b></p>
		<p style="text-align:center"><img src="img/spada.jpg"></img></p>
		<p align="center"><b>Fabio Ugolini</b></p>
		<p style="text-align:center"><img src="img/fabio.jpg"></img></p>
	</ion-content>
</ion-view>
