<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="bar-positive">
    <ion-header-bar">
      <h1 class="title">Menù</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/homepage">
          AirQualityBox
        </ion-item>
        <ion-item menu-close href="#/app/stationslist">
          Lista delle stazioni
        </ion-item>
        <ion-item menu-close href="#/app/mapstations">
          Stazioni sulla mappa
        </ion-item>
        <ion-item menu-close href="#/app/statistics">
          Statistiche
        </ion-item>	
		<ion-item menu-close href="#/app/alarms">
          Controlla i limiti
        </ion-item>			
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
