<ion-view cache-view="false" view-title="Statistiche">
	<ion-content scroll="true" direction="xy">

		<ion-checkbox class="item-text-wrap" ng-model="check1" ng-change="changeCheck1(check1)">Relazione con un'altra dimensione (verrà considerato solo il particolato se non selezionato)</ion-checkbox>

		<label class="item item-input item-select">
			<div class="input-label">
				Altra dimensione
			</div>
			<select ng-model="First" id="dimension" ng-change="saveFirstValue(First)")>
				<option ng-selected="true" value="Temperature">Temperatura</option>
				<option value="Humidity">Umidità</option>
				<option value="Rain">Pioggia</option>
				<option value="GPS_altitude">Altitudine</option>
				<option value="MQ9">MQ9</option>
			</select>
		</label>

		<ion-checkbox class="item-text-wrap" ng-model="check2" ng-change="changeCheck2(check2)">Specifica intervallo di date (verranno usati tutti i dati se non selezionato)</ion-checkbox>


		<h4>Data di partenza:</h4>
		<md-datepicker ng-model="startDate" ng-change="changeStartDate(startDate)" md-placeholder="Enter date" id="startdate" md-min-date="minStart" md-max-date="maxStart" ></md-datepicker>
		<h4>Data di fine:</h4>
		<md-datepicker ng-model="endDate" ng-change="changeEndDate(endDate)" md-placeholder="Enter date" id="enddate" md-min-date="minEnd" md-max-date="maxEnd" ></md-datepicker>

		<ion-checkbox class="item-text-wrap" ng-model="check3" ng-change="changeCheck3(check3)">Specifica il numero di stazione (tutte le stazioni verranno considerate se non selezionato)</ion-checkbox>

		<label class="item item-input item-select">
			<div class="input-label">
				Numero di stazione
			</div>
			<select ng-model="Third" id="station" ng-change="saveStationNumber(Third)"> 		
				<option ng-repeat="item in items" value="{{item}}">
					{{item}}
				</option>    
			</select>
		</label>


		<label class="item item-input item-select">
			<div class="input-label">
				Tipo di statistica
			</div>
			<select ng-model="Second" ng-change="saveSecondValue(Second)")>
				<option value="Average" ng-selected="true">Media</option>
				<option value="Mean">Mediana</option>
				<option value="Bigger">Valore più grande</option>
				<option value="Smallest">Valore più piccolo</option>
				<option value="Range">Range</option>
				<option value="Variance">Varianza</option>	
				<option value="StDeviation">Deviazione standard</option>	
			</select>
		</label>


		<button class="button button-block button-positive" ng-click="calculate()">
			Calcola statistica
		</button>

		<a  class="button button-block button-positive" id="download">Save immagine grafico</a>


		<canvas id="myChart" class="chart chart-bar" chart-data="data" chart-options="options" chart-labels="labels">
		</canvas>


	</ion-content>

</ion-view>

