<ion-view cache-view="true" view-title="Lista delle stazioni">
	<ion-content>
		<ion-refresher
				pulling-text="Trascina per aggiornare..."
				on-refresh="doRefresh()">
		</ion-refresher>
		<ion-list>
			<ion-list>
				<ion-item ng-repeat="item in items" ng-click=viewStation(item)>
					<p>{{item}}</p>
				</ion-item>
			</ion-list>
		</ion-list>
	</ion-content>
</ion-view>

