<ion-view cache-view="true" view-title="Dati della stazione">
	<ion-content>
		<ion-refresher
				pulling-text="Trascina per aggiornare..."
				on-refresh="doRefresh()">
		</ion-refresher>


		<ion-list>
			<ion-item class="item-divider"> {{header}}
			</ion-item>
			<ion-item class="item-text-wrap" ng-repeat="item in items">
				<p>{{item}}</p>
			</ion-item>
		</ion-list>


	</ion-content>

	<ion-footer-bar class="bar bar-footer bar-positive" id="locateMaps">
		<div class="title">Localizza su Google Maps</div>
	</ion-footer-bar>


</ion-view>
