

.item-complex a{
  background-color: #387ef5 !important;
  color: #fff !important;
}


.menu.menu-left{
	background-color: #387ef5 !important;
}





.ol{
	padding: 10px !important;
}

.scroll {
    height: 100% !important;
}
 
#map {
    width: 100% !important;
    height: 100% !important;
}

#mapLocate {
    width: 100% !important;
    height: 100% !important;
}

ul
{
    font-size: 30px !important;
}

li > span
{
    font-size: 150px !important;
}



.loading-container{
  background-color: #00000000 !important;
}

.loading{
  background-color: rgba(0, 0, 0, 0) !important;
}

.backdrop.active {
    opacity: 0;
}

.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}
.tc-chart-js-legend li {
  display: block;
  float: left;
  clear:both;
  padding:10px;
}
.tc-chart-js-legend li span {
  width:25px;
  height:25px;
  display:block;
  float:left;
  margin-right:10px;
}

	
	ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 100vh;
}














